.header {
  border-bottom: 1px solid #eaeaea;
  height: 48px;
  line-height: 48px;
  color: #eaeaea;
  background: #fff;
  padding: 0 8px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: sticky;
  top: 0;
}

.header a,
.header span {
  padding: 0 8px;
}

.header a {
  color: #0070f3;
  text-decoration: none;
}

.header span {
  color: #000;
}
