.blink {
  color: yellow;
  text-shadow: 1px 1px 0 grey, -1px -1px 0 grey;
  transform-origin: top left;
  animation: pulse 500ms infinite ease-in-out alternate-reverse;
}

@keyframes pulse {
  0% {
    transform: rotate(-5deg) scale(0.95);
  }
  100% {
    transform: rotate(-5deg) scale(1);
  }
}
